@import "_vars";
@import "_mixins";
header, footer {
  width: 100%;
  height: 110px;
  background-color: @primary;
  padding: 11px 0;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    display: flex;
    align-items: center;
    .logo-name {
      .rubik(34.8387px, 500, 41px);
      color: @custom-black;
    }
  }

  label {
    font-size: 40px;
    line-height: 70px;
    color: white;
  }

  #toggle {
    display: none;
    right: 0;
  }

  .main-nav {
    margin: 0;
    margin-left: 52px;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 49px;
    }
    .link {
      .roboto-mono(18px, 500, 23.74px);
      text-decoration: none;
      text-transform: uppercase;
      color: @custom-white;
      &:hover {
        color: @white;
      }
      &:active {
        color: @primary-dark;
      }
    }
    .link.current {
      position: relative;
      color: @white;
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: @white;
      }
      &:hover {
      }
      &:active {
      }
    }
  }

  .right {
    display: flex;
  }
}


header  {
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    margin: 0 auto;
    box-shadow: 0px 8px 8px rgba(0,0,0,.1);
    z-index: 10;
  }
  .right {
    display: flex;
    align-items: center;
    .search-wrapper {
      overflow: hidden;
      .search-input {
        position: relative;
        width: 200px;
        height: 32px;
        left: 250px;
        border: none;
        border-radius: 10px;
        transition: transform .2s ease;
        .roboto(18px, 300, 18px);
        &:focus {
          border: none;
          outline: none;
        }
        &:active {
          outline: none;
          border: none;
        }
      }
    }
    .search-button {
      width: 32px;
      height: 32px;
      background: url(../../assets/icons/search-icon.svg) no-repeat center/cover;
      transition: background .2s linear;
      &:hover {
        background: url(../../assets/icons/search-icon-light.svg) no-repeat center/cover;
      }
    }
    .user-button {
      width: 56px;
      height: 56px;
      margin-left: 31px;
      border-radius: 50%;
      background-color: aqua;
    }
  }
  button {
    .roboto(18px, 400, 21.09px);
    color: @custom-white;
    text-transform: uppercase;
    border: none;
    background: none;
    padding: 16px 15px;
    &:hover {
      color: white;
    }
    &:focus {
      outline: none;
      border: none;
    }
    &:active {
      outline: none;
      border: none;
      color: @white;
    }
  }
  .signup {
    border: 1px solid @custom-white;
    border-radius: 100px;
    &:active {
      color: @primary-dark;
      background-color: @custom-white;
    }
    &:focus {
      outline: none;
      border: 1px solid @custom-white;
      border-radius: 100px;
    }
  }
}

footer {
  height: 200px;
  background-color: #196469;
  .container {
    margin-top: 45px;
  }
  .main-nav {
    margin-left: 78px;
  }
  .design-info{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 18px;
    height: 47px;
    .roboto(16px, 400, 18.75px);
    text-transform: uppercase;
    color: #fff;
  }
}

@media (min-width: 1221px) {
  .user-button {
    display: none;
  }
}

@media (max-width: 1220px) {
  .user-button {
    display: block;
  }
  .login,
  .signup {
    display: none;
  }
}

@media (min-width: 1100px) {
  label {
    display: none;
  }
  .main-nav {
    display: flex;
  }
}

@media (max-width: 1100px) {
  header {
    .right {
      display: none;
    }
  }
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  header {
    .main-nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -52px;
      top: 100px;
      width: 100vw;
      padding-top: 32px;
      background-color: @primary;
      .roboto-mono(16ppx, 700, 23.74px);
      z-index: 9;
      li {
        text-align: center;
        display: inline;
        margin: 0 0 32px;
        .link.current::after {
          display: none;
        }
      }
    }
  }
}


