@import "_vars";
@import "_mixins";
.illustrations {
  width: 100%;
  height: 27vw;
  margin-top: 95px;
  background: url(../../assets/images/illustrations/bg.svg) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .pics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: @illustrations-height;
    overflow: hidden;
    .bamboo.small {
      position: relative;
      width: 6.05vw;
      height: 11.5vw;
      background: url(../../assets/images/illustrations/Bamboo.svg) no-repeat center/cover;
    }
    .tree.one{
      position: relative;
      width: 6.77vw;
      height: 11.97vw;
      background: url(../../assets/images/illustrations/bigTree.svg) no-repeat center/cover;
    }
    .tree.two{
      position: relative;
      width: 6.77vw;
      height: 11.97vw;
      background: url(../../assets/images/illustrations/bigTree.svg) no-repeat center/cover;
    }
    .tree.small {
      position: relative;
      width: 4.65vw;
      height: 8.22vw;
      background: url(../../assets/images/illustrations/smallTree.svg) no-repeat center/cover;
    }
    .panda {
      position: relative;
      width: 8.8vw;
      height: 8.07vw;
      background: url(../../assets/images/illustrations/Panda.svg) no-repeat center/cover;
    }
    .bamboo {
      position: relative;
      width: 6.05vw;
      height: 11.5vw;
      background: url(../../assets/images/illustrations/Bamboo.svg) no-repeat center/cover;
    }
  }
}
