//main: ../../style.less

@primary: #2A8086;
@primary-dark: #216E7A;
@custom-black: #0D444D;
@custom-white: #C5E1E6;
@custom-gray: #909090;
@white: #F3F7F8;
@button-lined: #19707D;
@background: #F6F9FA;
@content-width: 1536px;
@intro-height: 773px;
@illustrations-height: 600px;
@desktop: 1200px;
@tablet: 640px;
@mobile: 320px;
@img: "assets/img/";
