@import "../../assets/less/_vars";
@import "../../assets/less/_mixins";

body {
  background-color: @background;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 28px;
}

h1,
h2,
h3,
p{
  margin: 0;
}

svg {
  position: absolute;
}

@import "../../assets/less/_header";

header .right .search-button {
  width: 32px;
  height: 32px;
  background: url(../../assets/icons/search-icon.svg) no-repeat center/cover;
  transition: background .2s linear;
  &:hover {
    background: url(../../assets/icons/search-icon-light.svg) no-repeat center/cover;
  }
}
footer {
  z-index: 20;
}

.title {
  .rubik(24px, 400, 28.44px);
  color: @custom-black;
  text-transform: uppercase;
}

main {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    .sidebar {
      position: sticky;
      top: 0;
      height: 420px;
      min-width: 155px;
    }
    .img-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      justify-content: center;
      .frame {
        width: 98px;
        height: 95px;
        margin-top: 15px;
        transition: transform .5s linear;
        &.current {
          background: url(../../assets/images/animal-page/frame.svg) no-repeat center/cover;
        }
      }
      &:hover .frame.current{
        transform: rotate(360deg);
      }
      .tooltip {
        position: relative;
        display: none;
        padding: 5px 5px;
        background: @primary;
        color: @custom-white;
        border-radius: 5px;
        right: -30px;
        text-transform: lowercase;
      }
      &:hover .tooltip {
        display: block;
        position: absolute;
      }
      .img {
        position: absolute;
        top: 25px;
        left: 38px;
      }
      .pet-name {
        position: absolute;
        bottom: -15px;
        .roboto-mono(14px, 500, 18.46px);
        text-transform: uppercase;
      }
    }
    .content {
      min-width: 86.5%;
      margin: 0;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 45px;
        .buttons {
          display: flex;
          justify-content: space-between;
          width: 118px;
          a {
            transition: transform .3s ease;
            &:hover {
              outline: none;
              border: none;
              transform: scale(1.1);
            }
            &:active {
              outline: none;
              border: none;
              transform: scale(0.9);
            }
            &:focus {
              outline: none;
              border: none;
            }
          }
        }
      }
      .live-yt {
        margin-top: 42px;
        iframe {
          width: 100%;
          height: 600px;
          margin-top: 8px;
          border-radius: 20px;
        }
      }
      .p-title {
        .rubik(18px, 400, 21.33px);
          color: @custom-black;
      }
      .side-cameras {
        display: flex;
        flex-direction: column;
        margin-top: 56px;
        .cameras {
          margin-top: 8px;
        }
      }
      .slider {
        display: flex;
        justify-content: space-between;
        .buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items:center;
          position: relative;
          .slider-button {
            width: 52px;
            height: 52px;
            border: none;
            background: url(../../assets/icons/slider-button.svg) no-repeat center/cover;
            transition: transform .3s ease;

            &.left {
              background: url(../../assets/icons/slider-button-left.svg) no-repeat center/cover;
            }
            &:hover {
              outline: none;
              border: none;
              transform: scale(1.1);
            }
            &:active {
              outline: none;
              border: none;
              transform: scale(0.9);
            }
            &:focus {
              outline: none;
              border: none;
            }
          }
        }
      }
      .cameras {
        display: flex;
        width: 90.4%;
        overflow: hidden;
        .shot {
          position: relative;
          min-width: 31.5%;
          height: 240px;
          margin-right: 32px;
          border-radius: 10px;
          background: url(../../assets/images/animal-page/preview-photo.jpg) no-repeat center/cover;
        }
        .live-icon {
          position: absolute;
          left: 15px;
          top: 15px;
          width: 65.47px;
          height: 30.55px;
          background: url(../../assets/images/animal-page/live-icon.svg) no-repeat center/cover;
        }
      }
    }
    .about {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      color: @custom-black;
      .information {
        max-width: 600px;
        .info {
          margin-top: 25px;
        }
      }
      .interesting-facts {
        width: 574px;
        ul {
          list-style-image: url(../../assets/images/animal-page/list-image.svg);
        }
      }

      a {
        color: @custom-black;
        text-decoration: underline;
        .roboto(14px, 400, 20px);
      }

      p {
        .roboto(14px, 400, 20px);
      }
      h4 {
        .roboto(16px, 400, 18.75px);
      }
      p, a {
        margin-top: 8px;
      }
    }
  }

  .illustrations {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vw;
    margin-top: 32px;
    background: url(../../assets/images/illustrations/bg.svg) no-repeat center/cover;
    background-position: top;
    .pics {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      overflow: hidden;
      .bamboo.small {
        position: relative;
        width: 6.05vw;
        height: 11.5vw;
        background: url(../../assets/images/illustrations/Bamboo.svg) no-repeat center/cover;
      }
      .tree.one{
        position: relative;
        width: 6.77vw;
        height: 11.97vw;
        background: url(../../assets/images/illustrations/bigTree.svg) no-repeat center/cover;
      }
      .tree.two{
        position: relative;
        width: 6.77vw;
        height: 11.97vw;
        background: url(../../assets/images/illustrations/bigTree.svg) no-repeat center/cover;
      }
      .tree.small {
        position: relative;
        width: 4.65vw;
        height: 8.22vw;
        background: url(../../assets/images/illustrations/smallTree.svg) no-repeat center/cover;
      }
      .panda {
        position: relative;
        width: 8.8vw;
        height: 8.07vw;
        background: url(../../assets/images/illustrations/Panda.svg) no-repeat center/cover;
      }
      .bamboo {
        position: relative;
        width: 6.05vw;
        height: 11.5vw;
        background: url(../../assets/images/illustrations/Bamboo.svg) no-repeat center/cover;
      }
    }
      .donate-button {
        position: absolute;
        bottom: 1vw;
        margin: 0 auto;
        padding: 14px 78px;
        .roboto-mono(18px, 400, 23.75px);
        text-transform: uppercase;
        border-radius: 100px;
        border: none;
        background-color: @custom-white;
        transition: all .2s linear;
        &:hover {
          background-color: @white;
          outline: none;
          border: none;
        }
        &:focus {
          outline: none;
          border: none;
        }
        &:active {
          transform: scale(0.98);
          outline: none;
          border: none;
        }
      }
  }
}
